/* BUTTON */
$button-min-width: rem(64px) !default;
$button-height: rem(36px) !default;
$button-padding: rem(8px) !default;
$button-margin: rem(4px) !default;
$button-border-radius: rem(2px) !default;

$button-fab-size: rem(56px) !default;
$button-fab-size-mini: rem(40px) !default;
$button-fab-font-size: rem(24px) !default;

$button-icon-size: rem(32px) !default;
$button-icon-size-mini: rem(24px) !default;

@mixin basic-button(){
  background: transparent;
  border: none;
  border-radius: $button-border-radius;
  color: $color-black;
  position: relative;
  height: $button-height;
  min-width: $button-min-width;
  padding: 0 $button-padding;
  display: inline-block;
  font-family: $preferred_font;
  font-size: rem(14px);
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0;
  overflow: hidden;
  will-change: box-shadow, transform;
  transition: box-shadow 0.2s $animation-curve-fast-out-linear-in,
              background-color 0.2s $animation-curve-default,
              color 0.2s $animation-curve-default;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: $button-height;
  vertical-align: middle;

  &::-moz-focus-inner {
    border: 0;
  }
}

@mixin flat-button-states($color){
  color: $color;

  &:hover {
    background-color: transparentize($color, .92);
  }
  &:focus:not(:active) {
    background-color: transparentize($color, .8);
  }
  &:active {
    background-color: transparentize($color, .75);
  }
}

@mixin raised-button-states($color){
  color: $color-white;
  background-color: $color;

  &:hover {
    background-color: transparentize($color, .18);
  }
  &:focus:not(:active) {
    background-color: transparentize($color, .25);
  }
  &:active {
    background-color: transparentize($color, .35);
  }
}